
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="wrap-banner">
        <!-- menu category -->
        <div class="menu-banner d-xs-none">
            <div class="tiva-verticalmenu block">
                <div class="box-content">
                    <div class="verticalmenu" role="navigation">
                        <ul class="menu level1">
                            <li class="item parent">
                                <a href="#" class="hasicon" title="SIDE TABLE">
                                    <img src="img/home/table-lamp.png" alt="img">SIDE TABLE
                                </a>
                                <div class="dropdown-menu menu-1">
                                    <div class="menu-items">
                                        <ul>
                                            <li class="item">
                                                <a href="#" title="Aliquam lobortis">Aliquam lobortis</a>
                                            </li>
                                            <li class="item parent-submenu">
                                                <a href="#" title="Duis Reprehenderit">Duis Reprehenderit</a>
                                                <span class="show-sub fa-active-sub"></span>
                                                <div class="dropdown-submenu">
                                                    <div class="menu-items">
                                                        <ul>
                                                            <li class="item">
                                                                <a href="#" title="Aliquam lobortis">Aliquam lobortis</a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="Duis Reprehenderit">Duis Reprehenderit</a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="Voluptate">Voluptate</a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="Tongue Est">Tongue Est</a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="Venison Andouille">Venison Andouille</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="Voluptate">Voluptate</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="Tongue Est">Tongue Est</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="Venison Andouille">Venison Andouille</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item parent group">
                                <a href="#" class="hasicon" title="FI">
                                    <img src="img/home/fireplace.png" alt="img">FIREPLACE
                                </a>
                                <div class="dropdown-menu menu-2">
                                    <div class="menu-items">
                                        <div class="item">
                                            <div class="menu-content">
                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>DINNING ROOM</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#">Toshiba</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Samsung</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">LG</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sharp</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Electrolux</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Hitachi</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Panasonic</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Mitsubishi Electric</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Daikin</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Haier</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>BATHROOM</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#">Toshiba</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Samsung</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">LG</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sharp</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Electrolux</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Hitachi</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Panasonic</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Mitsubishi Electric</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Daikin</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Haier Media</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Gee</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Digimart</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Vitivaa</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sanaky</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sunshine</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>LIVING ROOM</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#">Media</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Gee</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Digimart</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Vitivaa</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sanaky</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sunshine</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Toshiba</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Samsung</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">LG</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sharp</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Electrolux</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Hitachi</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Panasonic</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Mitsubishi Electric</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Daikin</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Haier</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>BEDROOM</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#">LG</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sharp</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Electrolux</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Hitachi</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Panasonic</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Mitsubishi Electric</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Daikin</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Haier</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>KITCHEN</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#">LG</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sharp</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Electrolux</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Hitachi</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Panasonic</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Mitsubishi Electric</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Daikin</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Haier</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>Blender</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#">LG</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Sharp</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Electrolux</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Hitachi</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Panasonic</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Mitsubishi Electric</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Daikin</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#">Haier</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item group-category-img parent group">
                                <a href="#" class="hasicon" title="TABLE LAMP">
                                    <img src="img/home/table-lamp.png" alt="img">TABLE LAMP
                                </a>
                                <div class="dropdown-menu menu-3">
                                    <div class="menu-items">
                                        <div class="item">
                                            <div class="menu-content">
                                                <div class="row group-category">
                                                    <div class="mt-20">
                                                        <div class="d-flex">
                                                            <div class="col">
                                                                <span class="menu-title">Coventry dining</span>
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">Accessories</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Activewear</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">ASOS Basic Tops</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Bags &amp; Purses</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Beauty</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Coats &amp; Jackets</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Curve &amp; Plus Size</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col">
                                                                <span class="menu-title">Amara stools</span>
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">Accessories</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Activewear</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">ASOS Basic Tops</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Bags &amp; Purses</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Beauty</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Coats &amp; Jackets</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Curve &amp; Plus Size</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="col">
                                                                <span class="menu-title">Kingston dining</span>
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">Accessories</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Activewear</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">ASOS Basic Tops</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Bags &amp; Purses</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Beauty</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Coats &amp; Jackets</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Curve &amp; Plus Size</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col">
                                                                <span class="menu-title">Ellinger dining</span>
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">Accessories</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Activewear</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">ASOS Basic Tops</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Bags &amp; Purses</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Beauty</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Coats &amp; Jackets</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Curve &amp; Plus Size</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ml-15">
                                                        <a href="#">
                                                            <img class="img-fluid" src="img/home/img-menu.jpg" alt="img">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="OTTOMAN">
                                    <img src="img/home/ottoman.png" alt="img">OTTOMAN
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="ARMCHAIR">
                                    <img src="img/home/armchair.png" alt="img">ARMCHAIR
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="CUSHION">
                                    <img src="img/home/cushion.png" alt="img">CUSHION
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="COFFEE TABLE">
                                    <img src="img/home/coffee_table.png" alt="img">COFFEE TABLE
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="SHELF">
                                    <img src="img/home/shelf.png" alt="img">SHELF
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="SOFA">
                                    <img src="img/home/sofa.png" alt="img">SOFA
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="DRESSING TABLE">
                                    <img src="img/home/dressing.png" alt="img">DRESSING TABLE
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="WINDOWN CURTAIN">
                                    <img src="img/home/windown.png" alt="img">WINDOWN CURTAIN
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="CHANDELIER">
                                    <img src="img/home/chandelier.png" alt="img">CHANDELIER
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="CEILING FAN">
                                    <img src="img/home/ceiling_fan.png" alt="img">CEILING FAN
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="WARDROBE">
                                    <img src="img/home/wardrobe.png" alt="img">WARDROBE
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="FLOOR LAMP">
                                    <img src="img/home/floor_lamp.png" alt="img">FLOOR LAMP
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="VASE-FLOWER">
                                    <img src="img/home/vase-flower.png" alt="img">VASE-FLOWER
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="BED">
                                    <img src="img/home/bed.png" alt="img">BED
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="BED GIRL">
                                    <img src="img/home/bed.png" alt="img">BED GIRL
                                </a>
                            </li>
                            <li class="item toggleable menu-hidden">
                                <a href="#" class="hasicon" title="BED BOY">
                                    <img src="img/home/bed.png" alt="img">BED BOY
                                </a>
                            </li>
                            <li class="more item">Show More</li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-center align-items-center header-top-left pull-left">
                        <div class="toggle-nav act">
                            <div class="btnov-lines-large">
                                <i class="zmdi zmdi-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main -->
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <section class="page-home">
                    <!-- banner -->
                    <div class="spacing-10 group-image-special">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="block">
                                    <div class="effect">
                                        <a href="product-grid-sidebar-left.html">
                                            <span>Arm chair</span>
                                            <img class="img-fluid width-100" src="img/home/effect14.jpg" alt="banner-1" title="banner-1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="block">
                                    <div class="effect">
                                        <a href="product-grid-sidebar-left.html">
                                            <span>Side table</span>
                                            <img class="img-fluid width-100" src="img/home/effect15.jpg" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="block">
                                    <div class="effect">
                                        <a href="product-grid-sidebar-left.html">
                                            <span>Bookshelves </span>
                                            <img class="img-fluid width-100" src="img/home/effect16.jpg" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="block">
                                    <div class="effect">
                                        <a href="product-grid-sidebar-left.html">
                                            <span>Desk</span>
                                            <img class="img-fluid width-100" src="img/home/effect17.jpg" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="block">
                                    <div class="effect">
                                        <a href="product-grid-sidebar-left.html">
                                            <span>Bed</span>
                                            <img class="img-fluid width-100" src="img/home/effect18.jpg" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="block">
                                    <div class="effect">
                                        <a href="product-grid-sidebar-left.html">
                                            <span>Wall shelves</span>
                                            <img class="img-fluid width-100" src="img/home/effect19.jpg" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--FEATURED PRODUCTS -->
                    <div class="featured-product">
                        <div class="title-tab-content  text-center">
                            <div class="title-product justify-content-between">
                                <h2>FEATURED PRODUCTS</h2>
                                <p>LOREM IPSUM DOLOR SIT AMET CONSECTETUR </p>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/1.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/22.jpg" alt="img">
                                        </a>
                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£28.08</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/2.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/11.jpg" alt="img">
                                        </a>
                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£31.08</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/3.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/14.jpg" alt="img">
                                        </a>
                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£20.08</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/5.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/11.jpg" alt="img">
                                        </a>
                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£32.98</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/8.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/14.jpg" alt="img">
                                        </a>
                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£34.54</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/11.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/12.jpg" alt="img">
                                        </a>
                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£21.08</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/13.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/23.jpg" alt="img">
                                        </a>

                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£36.08</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item text-center">
                                <div class="product-miniature js-product-miniature item-one first-item">
                                    <div class="thumbnail-container">
                                        <a href="product-detail.html">
                                            <img class="img-fluid image-cover" src="img/product/26.jpg" alt="img">
                                            <img class="img-fluid image-secondary" src="img/product/11.jpg" alt="img">
                                        </a>

                                        <div class="highlighted-informations">
                                            <div class="variant-links">
                                                <a href="#" class="color beige" title="Beige"></a>
                                                <a href="#" class="color orange" title="Orange"></a>
                                                <a href="#" class="color green" title="Green"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-groups">
                                            <div class="product-title">
                                                <a href="product-detail.html">Nulla et justo non augue</a>
                                            </div>
                                            <div class="rating">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                            <div class="product-group-price">
                                                <div class="product-price-and-shipping">
                                                    <span class="price">£66.08</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-buttons d-flex justify-content-center">
                                            <form action="#" method="post" class="formAddToCart">
                                                <input type="hidden" name="id_product" value="1">
                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                            </form>
                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-showmore text-center has-showmore">
                            <button type="button" class="btn btn-default novShowMore" name="novShowMore" data-loading="Loading..." data-loadmore="Load More Products">
                                <span>Load More Products</span>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

