
USE masongur_BookStore
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
	[AuthorSurname] [nvarchar](50) NOT NULL,
	[AuthorBiography] [nvarchar](max) NOT NULL,
	[AuthorImage] [nvarchar](max) NULL,
	[AuthorCountryID] [int] NOT NULL,
	[AuthorCityID] [int] NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](50) NOT NULL,
	[BookDescription] [nvarchar](max) NOT NULL,
	[BookImage] [nvarchar](max) NULL,
	[BookPublisherID] [int] NOT NULL,
	[BookAuthorID] [int] NOT NULL,
	[BookCategoryID] [int] NOT NULL,
	[BookTranslatorID] [int] NULL,
	[BookPage] [int] NOT NULL,
	[BookPrice] [int] NOT NULL,
	[BookISBN] [nvarchar](20) NOT NULL,
	[BookStock] [int] NOT NULL,
	[BookStatus] [bit] NOT NULL,
	[BookSale] [int] NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTranslators]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTranslators](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TranslatorName] [nvarchar](50) NOT NULL,
	[TranslatorSurname] [nvarchar](50) NOT NULL,
	[TranslatorBiography] [nvarchar](max) NOT NULL,
	[TranslatorImage] [nvarchar](max) NULL,
	[TranslatorCountryID] [int] NOT NULL,
	[TranslatorCityID] [int] NULL,
 CONSTRAINT [PK_dbo.BookTranslators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NOT NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[EmployeeImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 12.07.2024 17:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](50) NOT NULL,
	[PublisherDescription] [nvarchar](max) NOT NULL,
	[PublisherAddress] [nvarchar](250) NOT NULL,
	[PublisherEmail] [nvarchar](50) NOT NULL,
	[PublisherImage] [nvarchar](max) NULL,
	[PublisherCountryID] [int] NOT NULL,
	[PublisherCityID] [int] NULL,
 CONSTRAINT [PK_dbo.Publishers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([ID], [AuthorName], [AuthorSurname], [AuthorBiography], [AuthorImage], [AuthorCountryID], [AuthorCityID]) VALUES (1, N'Orhan', N'Pamuk', N'Orhan Pamuk, (d. 7 Haziran 1952, İstanbul), Nobel ödüllü Türk yazar. Romanlarında ve eserlerinde İstanbul''u, Türkiye''nin toplumsal ve siyasal değişimini ve karmaşık kimliğini temaları arasında işlemiştir.', N'https://picsum.photos/400?id=16', 1, 1)
INSERT [dbo].[Authors] ([ID], [AuthorName], [AuthorSurname], [AuthorBiography], [AuthorImage], [AuthorCountryID], [AuthorCityID]) VALUES (2, N'Elif', N'Şafak', N'Elif Şafak, (d. 25 Ekim 1971, Strasbourg, Fransa), Türk yazar. Genellikle toplumsal ve kadın hakları temaları işlemektedir. Eserleri çok sayıda dile çevrilmiştir ve uluslararası alanda tanınmaktadır.', N'https://picsum.photos/400?id=17', 1, 1)
INSERT [dbo].[Authors] ([ID], [AuthorName], [AuthorSurname], [AuthorBiography], [AuthorImage], [AuthorCountryID], [AuthorCityID]) VALUES (3, N'Ahmet Hamdi', N'Tanpınar', N'Ahmet Hamdi Tanpınar, (d. 23 Haziran 1901, İstanbul - ö. 24 Ocak 1962, İstanbul), Türk edebiyatının önemli yazarlarından ve edebiyat kuramcılarından biridir. Romanları, öyküleri, denemeleri, eleştirileri, tarihî ve kültürel konuları işleyen eserleri ile tanınır.', N'https://picsum.photos/400?id=18', 1, 1)
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BookTranslators] ON 

INSERT [dbo].[BookTranslators] ([ID], [TranslatorName], [TranslatorSurname], [TranslatorBiography], [TranslatorImage], [TranslatorCountryID], [TranslatorCityID]) VALUES (2, N'Ali', N'Demir', N'Ali Demir, İzmir doğumlu bir çevirmen ve yazardır. Almanca ve Türkçe dilleri arasında çeviri yapmaktadır. Edebiyat alanında birçok önemli eseri Türkçeye kazandırmıştır. Çevirdiği eserler arasında Sonsuzluğun Sonu (Michael Ende, Can Yayınları), Dönüşüm (Franz Kafka, İletişim Yayınları), Kırmızı Pazartesi (Gabriel Garcia Marquez, Doğan Kitap) bulunmaktadır.', N'https://picsum.photos/400?id=1?id=1', 1, 1)
INSERT [dbo].[BookTranslators] ([ID], [TranslatorName], [TranslatorSurname], [TranslatorBiography], [TranslatorImage], [TranslatorCountryID], [TranslatorCityID]) VALUES (3, N'Ayşe', N'Kaya', N'Ayşe Kaya, İstanbul doğumlu bir çevirmen ve yazardır. İngilizce ve Almanca dilleri arasında çeviri yapmaktadır. Edebiyat alanında çeşitli ödüller kazanmıştır. Çevirdiği eserler arasında Gece Yolculuğu (Javier Marías, XYZ Yayınevi), Kayıp Zamanın İzinde (Marcel Proust, YKY), Yabancı (Albert Camus, Can Yayınları) bulunmaktadır.', N'https://picsum.photos/400?id=1?id=2', 1, 1)
SET IDENTITY_INSERT [dbo].[BookTranslators] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [CategoryName]) VALUES (1, N'Bilim Kurgu')
INSERT [dbo].[Categories] ([ID], [CategoryName]) VALUES (2, N'Bilim')
INSERT [dbo].[Categories] ([ID], [CategoryName]) VALUES (3, N'Çocuk Kitapları')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([ID], [CityName], [CountryID]) VALUES (1, N'İstanbul', 1)
INSERT [dbo].[Cities] ([ID], [CityName], [CountryID]) VALUES (2, N'Ankara', 1)
INSERT [dbo].[Cities] ([ID], [CityName], [CountryID]) VALUES (3, N'İzmir', 1)
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [CountryName]) VALUES (1, N'Türkiye')
INSERT [dbo].[Countries] ([ID], [CountryName]) VALUES (2, N'Amerika')
INSERT [dbo].[Countries] ([ID], [CountryName]) VALUES (3, N'Almanya')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [DepartmentName]) VALUES (1, N'Yönetici')
INSERT [dbo].[Departments] ([ID], [DepartmentName]) VALUES (2, N'Editör')
INSERT [dbo].[Departments] ([ID], [DepartmentName]) VALUES (3, N'Satış Temsilcisi')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [Name], [Surname], [Email], [Password], [Status], [DepartmentID], [EmployeeImage]) VALUES (1, N'Muhammet Ali', N'Songur', N'songur@gmail.com', N'123', 1, 1, N'https://picsum.photos/400?id=1?id=0')
INSERT [dbo].[Employees] ([ID], [Name], [Surname], [Email], [Password], [Status], [DepartmentID], [EmployeeImage]) VALUES (2, N'Mehmet', N'Yılmaz', N'yilmaz@gmail.com', N'123', 1, 2, N'https://picsum.photos/400?id=1?id=1')
INSERT [dbo].[Employees] ([ID], [Name], [Surname], [Email], [Password], [Status], [DepartmentID], [EmployeeImage]) VALUES (3, N'Ayşe', N'Kaya', N'kaya@gmail.com', N'123', 1, 3, N'https://picsum.photos/400?id=1?id=2')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([ID], [PublisherName], [PublisherDescription], [PublisherAddress], [PublisherEmail], [PublisherImage], [PublisherCountryID], [PublisherCityID]) VALUES (2, N'İletişim Yayınları', N'İletişim Yayınları, 1982 yılında Ümit İnatçı tarafından kurulan bir yayınevidir. Türk ve dünya edebiyatının önemli eserlerini yayımlamaktadır. Siyaset, felsefe, sosyal bilimler, sanat ve edebiyat gibi çeşitli konularda kitaplar yayımlamaktadır.', N'Tomtom Mahallesi İstiklal Caddesi No: 149', N'iletisim@iletisim.com.tr', N'https://picsum.photos/400?id=1?id=2', 1, 1)
INSERT [dbo].[Publishers] ([ID], [PublisherName], [PublisherDescription], [PublisherAddress], [PublisherEmail], [PublisherImage], [PublisherCountryID], [PublisherCityID]) VALUES (3, N'Doğan Kitap', N'Doğan Kitap, Doğan Holding bünyesinde faaliyet gösteren bir yayınevidir. Türk ve yabancı yazarların eserlerini yayımlamaktadır. Roman, tarih, biyografi, kişisel gelişim, çocuk kitapları gibi farklı kategorilerde kitaplar sunmaktadır.', N'Nispetiye Caddesi Akmerkez E3 Blok No:1/40 Beşiktaş', N'kitap@doganburda.com', N'https://picsum.photos/400?id=1?id=3', 1, 1)
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
/****** Object:  Index [IX_AuthorCityID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_AuthorCityID] ON [dbo].[Authors]
(
	[AuthorCityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorCountryID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_AuthorCountryID] ON [dbo].[Authors]
(
	[AuthorCountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookAuthorID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_BookAuthorID] ON [dbo].[Books]
(
	[BookAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookCategoryID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_BookCategoryID] ON [dbo].[Books]
(
	[BookCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookPublisherID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_BookPublisherID] ON [dbo].[Books]
(
	[BookPublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookTranslatorID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_BookTranslatorID] ON [dbo].[Books]
(
	[BookTranslatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TranslatorCityID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_TranslatorCityID] ON [dbo].[BookTranslators]
(
	[TranslatorCityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TranslatorCountryID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_TranslatorCountryID] ON [dbo].[BookTranslators]
(
	[TranslatorCountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Cities]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentID] ON [dbo].[Employees]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublisherCityID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_PublisherCityID] ON [dbo].[Publishers]
(
	[PublisherCityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublisherCountryID]    Script Date: 12.07.2024 17:16:38 ******/
CREATE NONCLUSTERED INDEX [IX_PublisherCountryID] ON [dbo].[Publishers]
(
	[PublisherCountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ((0)) FOR [AuthorCountryID]
GO
ALTER TABLE [dbo].[BookTranslators] ADD  DEFAULT ((0)) FOR [TranslatorCountryID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [DepartmentID]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT ((0)) FOR [PublisherCountryID]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authors_dbo.Cities_AuthorCityID] FOREIGN KEY([AuthorCityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_dbo.Authors_dbo.Cities_AuthorCityID]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authors_dbo.Countries_AuthorCountryID] FOREIGN KEY([AuthorCountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_dbo.Authors_dbo.Countries_AuthorCountryID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Authors_BookAuthorID] FOREIGN KEY([BookAuthorID])
REFERENCES [dbo].[Authors] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Authors_BookAuthorID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.BookTranslators_BookTranslatorID] FOREIGN KEY([BookTranslatorID])
REFERENCES [dbo].[BookTranslators] ([ID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.BookTranslators_BookTranslatorID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Categories_BookCategoryID] FOREIGN KEY([BookCategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Categories_BookCategoryID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Publishers_BookPublisherID] FOREIGN KEY([BookPublisherID])
REFERENCES [dbo].[Publishers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Publishers_BookPublisherID]
GO
ALTER TABLE [dbo].[BookTranslators]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookTranslators_dbo.Cities_TranslatorCityID] FOREIGN KEY([TranslatorCityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[BookTranslators] CHECK CONSTRAINT [FK_dbo.BookTranslators_dbo.Cities_TranslatorCityID]
GO
ALTER TABLE [dbo].[BookTranslators]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookTranslators_dbo.Countries_TranslatorCountryID] FOREIGN KEY([TranslatorCountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[BookTranslators] CHECK CONSTRAINT [FK_dbo.BookTranslators_dbo.Countries_TranslatorCountryID]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentID]
GO
ALTER TABLE [dbo].[Publishers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Publishers_dbo.Cities_PublisherCityID] FOREIGN KEY([PublisherCityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[Publishers] CHECK CONSTRAINT [FK_dbo.Publishers_dbo.Cities_PublisherCityID]
GO
ALTER TABLE [dbo].[Publishers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Publishers_dbo.Countries_PublisherCountryID] FOREIGN KEY([PublisherCountryID])
REFERENCES [dbo].[Countries] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Publishers] CHECK CONSTRAINT [FK_dbo.Publishers_dbo.Countries_PublisherCountryID]
GO
USE [master]
GO
