<li class="second admin-pic">
    <ul class="top_dp_agile">
        <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="profile_img">
                    <span class="prfil-img" ><img src="@Session["Image"]" alt="" style="height: 47px; width: 47px; margin-left: auto;"> </span>
                </div>
            </a>
            <ul class="dropdown-menu drp-mnu">
                <li> <a href="/Admin/Personel/Guncelle/@Session["ID"]"><i class="fa fa-cog"></i> Settings</a> </li>
                <li> <a href="/Admin/Personel/Index"><i class="fa fa-user"></i> Profile</a> </li>
                <li> <a href="~/Admin/Login/LogOut/"><i class="fa fa-sign-out"></i> Logout</a> </li>
            </ul>
        </li>

    </ul>
</li>
