<li class="second w3l_search" style=" float: right; border-right: none; width: 28%; margin-top: 9px;">


    <input type="search" placeholder="@Session["Name"] | @Session["Department"]" disabled>
    <button class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i></button>


</li>
