@using Entities.Concrete
@model City



@if (ViewBag.CityList != null)
{
    foreach (var item in ViewBag.CityList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
else
{
    <option value="" selected>-- Şehir Bulunamadı --</option>
}