@using PagedList
@using PagedList.Mvc
@using Entities.Concrete
@model IPagedList<Category>
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var result = (BookStore.Areas.Admin.ViewModel.MessageViewModel)TempData["message"];
}

<link rel="stylesheet" type="text/css" href="~/Content/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/basictable.css" />

<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="/Admin/Kategori">Anasayfa</a><span>«</span></li>

            <li>Kategoriler</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="inner_content_w3_agile_info two_in">
    <h2 class="w3_inner_tittle">Kategoriler</h2>
    <!-- tables -->
    
    <div class="agile-tables">
        <b style="font-size:20px">
            @if (TempData["message"] != null)
            {
                if (result.Status)
                {

                    <div class="alert alert-success">
                        <b> @result.Message </b>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <b>  @result.Message</b>
                    </div>
                }
            }
        </b>
        <div class="w3l-table-info agile_info_shadow">
            <h3 class="w3_inner_tittle two">
                <a class="btn btn-success" href="/Admin/Kategori/YeniKategori">Yeni Kategori</a>
            </h3>
            <table id="tblDepartmanlar">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Guncelle</th>
                        <th>Sil</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryName</td>
                            <td><a href="/Admin/Kategori/Guncelle/@category.ID" class="btn btn-success">Guncelle</a></td>
                            <td><a class="btn btn-danger" onclick="if (confirm('Kategori Silmek Istiyor musunuz?')){return true;}else{event.stopPropagation(); event.preventDefault();};" href="/Admin/Kategori/Sil/@category.ID">Sil</a></td>
                        </tr>
                    }
                </tbody>


            </table>

            @Html.PagedListPager(Model, _sayfaNo => Url.Action("Index", "Category", new { SayfaNo = _sayfaNo }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< İlk", LinkToPreviousPageFormat = "< Önceki", LinkToNextPageFormat = "Sonraki >", LinkToLastPageFormat = "Son >>" })



        </div>

    </div>
</div>
<script type="text/javascript" src="~/Scripts/js/jquery.basictable.min.js"></script>

