
<div class="menu-banner d-xs-none">
    <div class="tiva-verticalmenu block">
        <div class="box-content">
            <div class="verticalmenu" role="navigation">
                <ul class="menu level1">
                    <li class="item parent">
                        <a href="#" class="hasicon" title="SIDE TABLE">
                            <img src="~/Content/img/home/table-lamp.png" alt="img">SIDE TABLE
                        </a>
                        <div class="dropdown-menu menu-1">
                            <div class="menu-items">
                                <ul>
                                    <li class="item">
                                        <a href="#" title="Aliquam lobortis">Aliquam lobortis</a>
                                    </li>
                                    <li class="item parent-submenu">
                                        <a href="#" title="Duis Reprehenderit">Duis Reprehenderit</a>
                                        <span class="show-sub fa-active-sub"></span>
                                        <div class="dropdown-submenu">
                                            <div class="menu-items">
                                                <ul>
                                                    <li class="item">
                                                        <a href="#" title="Aliquam lobortis">Aliquam lobortis</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Duis Reprehenderit">Duis Reprehenderit</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Voluptate">Voluptate</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Tongue Est">Tongue Est</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Venison Andouille">Venison Andouille</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a href="#" title="Voluptate">Voluptate</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" title="Tongue Est">Tongue Est</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" title="Venison Andouille">Venison Andouille</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item parent group">
                        <a href="#" class="hasicon" title="FI">
                            <img src="~/Content/img/home/fireplace.png" alt="img">FIREPLACE
                        </a>
                        <div class="dropdown-menu menu-2">
                            <div class="menu-items">
                                <div class="item">
                                    <div class="menu-content">
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>DINNING ROOM</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#">Toshiba</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Samsung</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">LG</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sharp</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Electrolux</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Hitachi</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Panasonic</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Mitsubishi Electric</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Daikin</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Haier</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>BATHROOM</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#">Toshiba</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Samsung</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">LG</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sharp</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Electrolux</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Hitachi</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Panasonic</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Mitsubishi Electric</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Daikin</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Haier Media</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Gee</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Digimart</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Vitivaa</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sanaky</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sunshine</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>LIVING ROOM</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#">Media</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Gee</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Digimart</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Vitivaa</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sanaky</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sunshine</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Toshiba</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Samsung</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">LG</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sharp</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Electrolux</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Hitachi</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Panasonic</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Mitsubishi Electric</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Daikin</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Haier</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>BEDROOM</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#">LG</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sharp</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Electrolux</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Hitachi</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Panasonic</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Mitsubishi Electric</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Daikin</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Haier</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>KITCHEN</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#">LG</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sharp</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Electrolux</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Hitachi</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Panasonic</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Mitsubishi Electric</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Daikin</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Haier</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>Blender</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#">LG</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Sharp</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Electrolux</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Hitachi</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Panasonic</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Mitsubishi Electric</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Daikin</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Haier</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item group-category-img parent group">
                        <a href="#" class="hasicon" title="TABLE LAMP">
                            <img src="~/Content/img/home/table-lamp.png" alt="img">TABLE LAMP
                        </a>
                        <div class="dropdown-menu menu-3">
                            <div class="menu-items">
                                <div class="item">
                                    <div class="menu-content">
                                        <div class="row group-category">
                                            <div class="mt-20">
                                                <div class="d-flex">
                                                    <div class="col">
                                                        <span class="menu-title">Coventry dining</span>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Accessories</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Activewear</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">ASOS Basic Tops</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Bags &amp; Purses</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Beauty</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Coats &amp; Jackets</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Curve &amp; Plus Size</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col">
                                                        <span class="menu-title">Amara stools</span>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Accessories</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Activewear</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">ASOS Basic Tops</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Bags &amp; Purses</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Beauty</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Coats &amp; Jackets</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Curve &amp; Plus Size</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="col">
                                                        <span class="menu-title">Kingston dining</span>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Accessories</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Activewear</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">ASOS Basic Tops</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Bags &amp; Purses</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Beauty</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Coats &amp; Jackets</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Curve &amp; Plus Size</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col">
                                                        <span class="menu-title">Ellinger dining</span>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Accessories</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Activewear</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">ASOS Basic Tops</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Bags &amp; Purses</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Beauty</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Coats &amp; Jackets</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Curve &amp; Plus Size</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ml-15">
                                                <a href="#">
                                                    <img class="img-fluid" src="~/Content/img/home/img-menu.jpg" alt="img">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="OTTOMAN">
                            <img src="~/Content/img/home/ottoman.png" alt="img">OTTOMAN
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="ARMCHAIR">
                            <img src="~/Content/img/home/armchair.png" alt="img">ARMCHAIR
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="CUSHION">
                            <img src="~/Content/img/home/cushion.png" alt="img">CUSHION
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="COFFEE TABLE">
                            <img src="~/Content/img/home/coffee_table.png" alt="img">COFFEE TABLE
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="SHELF">
                            <img src="~/Content/img/home/shelf.png" alt="img">SHELF
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="SOFA">
                            <img src="~/Content/img/home/sofa.png" alt="img">SOFA
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="DRESSING TABLE">
                            <img src="~/Content/img/home/dressing.png" alt="img">DRESSING TABLE
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="hasicon" title="WINDOWN CURTAIN">
                            <img src="~/Content/img/home/windown.png" alt="img">WINDOWN CURTAIN
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="CHANDELIER">
                            <img src="~/Content/img/home/chandelier.png" alt="img">CHANDELIER
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="CEILING FAN">
                            <img src="~/Content/img/home/ceiling_fan.png" alt="img">CEILING FAN
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="WARDROBE">
                            <img src="~/Content/img/home/wardrobe.png" alt="img">WARDROBE
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="FLOOR LAMP">
                            <img src="~/Content/img/home/floor_lamp.png" alt="img">FLOOR LAMP
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="VASE-FLOWER">
                            <img src="~/Content/img/home/vase-flower.png" alt="img">VASE-FLOWER
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="BED">
                            <img src="~/Content/img/home/bed.png" alt="img">BED
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="BED GIRL">
                            <img src="~/Content/img/home/bed.png" alt="img">BED GIRL
                        </a>
                    </li>
                    <li class="item toggleable menu-hidden">
                        <a href="#" class="hasicon" title="BED BOY">
                            <img src="~/Content/img/home/bed.png" alt="img">BED BOY
                        </a>
                    </li>
                    <li class="more item">Show More</li>
                </ul>
            </div>
            <div style="cursor:pointer">
                <div class="d-flex justify-content-center align-items-center header-top-left pull-left btnov-lines-large ">
                    <div class="toggle-nav act">
                        <div class="btnov-lines-large">
                            <i class="zmdi zmdi-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>