
<div class="footer-top">
    <div class="row">
        <div class="col-sm-6 col-xs-12 col-lg-4 col-md-6 padding-right">
            <div class="block">
                <div class="block-content">
                    <div class="title-block">
                        <a href="/" style="font-size: large; color: white; font-weight: bolder;">
                            MAS - Kitap Satış
                        </a>
                    </div>
                    <div class="contact-content">
                        <div class="data align-self-stretch d-flex">
                            <i class="fa fa-home float-left" aria-hidden="true"></i>
                            <div class="content-data">
                                <b class="mr-2">Adres:</b>
                                Erciyes Üniversitesi Mühendislik Fakultesi Bilgisayar Mühendisliği Bölümü 1. Labirent 123. Koridor 205 Nolu oda. Talas/Kayseri
                            </div>
                        </div>
                        <div class="data align-self-stretch d-flex">
                            <i class="fa fa-clock-o float-left" aria-hidden="true"></i>

                            <div class="content-data">
                                <b class="mr-2">Çalışma Saatleri:</b>08.00 - 19.00
                            </div>
                        </div>
                        <div class="support d-flex">
                            <div class="data d-flex align-self-stretch mail-support">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <div>admin@muhammetalisongur.com</div>
                            </div>
                        </div>
                        <div class="data d-flex align-self-stretch phone-support">
                            <div class="title-icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div>0352-273-5051</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-3 col-md-6">
            <div class="block">
                <div class="block-content">
                    <div class="title-block">İndirim Bülteni</div>
                    <div class="sub-title">
                        En son çıkan kitapları, indirim kupon kodlarını doğrudan gelen kutunuza almak için bültenimize kaydolun
                    </div>
                    <div class="block-newsletter">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="email" value="" placeholder="Mail Adresiniz...">
                                <span class="input-group-btn">
                                    <button class="effect-btn btn btn-secondary" name="submitNewsletter" type="submit">
                                        <span>Kaydol</span>
                                    </button>
                                </span>
                            </div>
                            <input type="hidden" name="action" value="0">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-3 col-md-6 padding-left">
            <div class="block">
                <div class="block-content">
                    <div class="title-block">
                        Bizi takip edin
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>Instagram
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>Twitter
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>Youtube
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>Pinterest
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-2 col-md-6 padding-left2">
            <div class="block">
                <div class="block-content">
                    <div class="title-block">
                        Bilgi
                    </div>
                    <ul>
                        <li>
                            <a href="#">Hakkımızda</a>
                        </li>
                        <li>
                            <a href="#">Müşteri servisi</a>
                        </li>
                        <li>
                            <a href="#">Gizlilik Politikası</a>
                        </li>
                        <li>
                            <a href="#">Site Haritası</a>
                        </li>
                        <li>
                            <a href="#">Arama Terimleri</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>