
<div id="tiva-copyright">
    <div class="row">
        <div class="block-inline col-md-6 align-items-center justify-content-md-start justify-content-sm-center d-flex pb-xs-max-20 flex-center">
            <span>
                <a target="_blank" href="https://www.muhammetalisongur.com" style="color: #b1b1b1;">
                    © @DateTime.Now.Year Kitap Satış. Tüm Hakları Saklıdır | Design by Muhammet Ali Songur
                </a>
            </span>
        </div>
        <div class="payment-image col-md-6 align-items-center justify-content-md-end justify-content-sm-center d-flex flex-center">
            <img src="~/Content/img/home/payment.png" alt="img">
        </div>
    </div>
</div>