
<div class="d-flex align-items-center  flex-2">
    <div id="logo">
        <a href="/" style="font-weight: bold; font-size: xx-large;">
            @*<img src="#" alt="logo" class="img-fluid">*@
            <div class="containerim">
                <p>MAS-</p>
                <section class="animationum">
                    <div class="ilk"><div>En Uygun</div></div>
                    <div class="ikinci"><div>Kitap Satış</div></div>
                    <div class="ucuncu"><div>Sitesi</div></div>
                </section>
            </div>
        </a>
        @*<span style="display: block; color: purple;">En Uygun Kitap Satış Sitesi</span>*@
    </div>
</div>