
<div class="mobile-logo">
    <a href="/">
        <div class="logo-mobile img-fluid" style="font-size: large; color: white; font-weight: bolder;">
            MAS - Kitap Satış Sitesi
        </div>
    </a>
</div>