
<div id="mobile_search_content">
    <form method="get" action="#">

        <input type="text" name="s" value="" placeholder="Yeni Dünyalar Ara Keşfet...">
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>