
<div class="policy-home">
    <div class="row margin-0">
        <div class="tiva-html col-lg-4 col-md-4 col-xs-12">
            <div class="block">
                <div class="block-content">
                    <div class="policy-item text-center">
                        <div class="policy-content iconpolicy1 text-center">
                            <img src="~/Content/img/home/home1-policy.png" alt="img">
                            <div class="description">
                                <div class="policy-name mb-5">250 TL VE ÜZERİ ÜCRETSİZ TESLİMAT</div>
                                <div class="policy-des">
                                    Yapacağın 250 TL ve üzeri tüm alışverişlerde kargo bedava!
                                    Hadi, ihtiyacın olan ürünler, süper fırsatlarla kapına gelsin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiva-html col-lg-4 col-md-4 col-xs-12">
            <div class="block">
                <div class="block-content">
                    <div class="policy-item">
                        <div class="policy-content iconpolicy2 text-center">
                            <img src="https://media.istockphoto.com/id/1217085044/tr/vekt%C3%B6r/g%C3%BCvenli-al%C4%B1%C5%9Fveri%C5%9F-simgesi.jpg?s=612x612&w=0&k=20&c=4seeV45fBeTi7cYMT9l56pyXWTzyXCpC_NfO3YMINn8=" alt="img" style="height:40px; width:38px" >
                            <div class="discription">
                                <div class="policy-name mb-5">TEK TILA GÜVENLİ ALIŞVERİŞ</div>
                                <div class="policy-des">
                                    Müşterilerimizin kritik verileri, güçlü altyapımız ve uluslararası ödeme sistemleri (PCI-DSS) veri güvenliği standartları ile korunmaktadır.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiva-html col-lg-4 col-md-4 col-xs-12">
            <div class="block">
                <div class="block-content">
                    <div class="policy-item">
                        <div class="policy-content iconpolicy3 text-center">
                            <img src="~/Content/img/home/home1-policy3.png" alt="img">
                            <div class="discription">
                                <div class="policy-name mb-5">
                                    PARA İADE GARANTİSİ
                                </div>
                                <div class="policy-des">
                                    MAS-Kitap’dan satın aldığınız ürünleri teslim aldığınız
                                    tarihten itibaren 14 gün içerisinde ücretsiz ve kolayca iade edebilirsiniz.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>