@using PagedList
@using PagedList.Mvc
@using KutuphanePlatformu.Models.EntityFramework

@model IPagedList<Kategoriler>
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var mesajKategori = (KutuphanePlatformu.ViewModels.MesajViewModel)TempData["mesaj"];
}

<link rel="stylesheet" type="text/css" href="~/Content/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/basictable.css" />

<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="main-page.html">Anasayfa</a><span>«</span></li>

            <li>Kategoriler</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="inner_content_w3_agile_info two_in">
    <h2 class="w3_inner_tittle">Kategoriler</h2>
    <!-- tables -->

    <div class="agile-tables">
        @if (TempData["mesaj"] != null)
        {
            if (mesajKategori.Status)
            {

                <div class="alert alert-success">
                    <b> @mesajKategori.Mesaj </b>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <b>  @mesajKategori.Mesaj</b>
                </div>
            }
        }
        <div class="w3l-table-info agile_info_shadow">
            <h3 class="w3_inner_tittle two">
                <a class="btn btn-success" href="/Admin/Kategori/Yeni">Yeni Kategori</a>
            </h3>
            <table id="tblDepartmanlar">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Guncelle</th>
                        <th>Sil</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var kategori in Model)
                    {
                        <tr>
                            <td>@kategori.Ad</td>
                            <td><a href="/Admin/Kategori/Guncelle/@kategori.Id" class="btn btn-success">Guncelle</a></td>
                            <td><a class="btn btn-danger" onclick="if (confirm('Kategori Silmek Istiyor musunuz?')){return true;}else{event.stopPropagation(); event.preventDefault();};" href="/Admin/Kategori/Sil/@kategori.Id">Sil</a></td>
                        </tr>
                    }
                </tbody>


            </table>

            @Html.PagedListPager(Model, _sayfaNo => Url.Action("Index", "Kategori", new { SayfaNo = _sayfaNo }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< İlk", LinkToPreviousPageFormat = "< Önceki", LinkToNextPageFormat = "Sonraki >", LinkToLastPageFormat = "Son >>" })



        </div>

    </div>
</div>
<script type="text/javascript" src="~/Scripts/js/jquery.basictable.min.js"></script>
